<% resource_cache(resource) do %>
  <article class="<%= resource_instance_name %>">
    <%= render_slideshow_for(resource) %>
    <div class="article-body">
      <div class="container"> 
        <div class="row">
          <div class="col-xs-12">
          <%= render_page_title(resource.title) if resource.show_title_in_page %><iframe src="//player.vimeo.com/video/79780868?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1&amp;loop=1" width="500" height="282" frameborder="0"></iframe>
          <%= render_copy_text(resource.body) %>
          </div> 
        </div>
      </div>
    </div> 
	</article>
<% end %>  