<% resource_cache(resource) do %>
  <article class="<%= resource_instance_name %>">
    <%= render_slideshow_for(resource) %>
    <div class="article-body">
      <div class="container"> 
        <div class="row">
          <div class="col-xs-12">
          <%= render_page_title(resource.title) if resource.show_title_in_page %>
          <%= render_copy_text(resource.body) %>
          </div> 
        </div>
      </div>
    </div> 
	</article>
<% end %>  